@import url(https://fonts.googleapis.com/css?family=Raleway:400,200);

body {
    width: 100%;
    min-height: 100%;
    padding-top: 100px;
    font-style: italic;
    /* background-color: rgba(255, 255, 200); */
}

h5 {
    font-weight: bold;
}

.micro {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.micro span {
    color: #FFFFFF;
    text-shadow: 0 10px 30px black;
    font-size: 80pt;
    transition: 0.1s ease-in;
}

.micro span:hover {
    text-shadow: 0 30px 70px black;
    font-size: 81pt;
}

#main {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: purple;
    z-index: 2;
    /* display: none; */
}


.doc {
    background-color: white;
    /* display: none; */
}


.top {
    display: inline-block;
    width: 100%;
    /* background-color: purple; */
}

.table-left {
    padding: 10px;
    padding-bottom: 0px;
    margin-bottom: -10px;
    width: auto;
    height: auto;
    display: block;
    float: left;
    /* background-color: blue; */
}

.table-left tr:first-of-type td {
    padding: 10px 20px;
}

.table-left td {
    border: 1px solid black;
    min-width: 90px;
    padding: 2px 20px;
    text-align: center;
}

.content {
    padding: 5px;
    text-align: justify;
    /* background-color: orange; */
}

.input-hidden:focus {
    background: rgba(230, 230, 255);
    outline: none;
}

.bottom {
    width: 100%;
    height: 200px;
    /* background-color: lightgrey; */
}

.input-hidden {
    text-align: center;
    width: 100px;
    border: none;
}

@media (max-width: 575px) {
    .content {
        display: inherit;
    }
}
